<a href="https://colab.research.google.com/github/StoianBodurov/130-Exercises---Python---Data-Science---Pandas---2023/blob/main/130%2B_Exercises_Python_Data_Science_Pandas_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starter

 Exercise 0

In [1]:
import pandas as pd

print(pd.__version__)

1.3.5

# Exercises 1-10

Exercise 1

In [2]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

Exercise 2

In [3]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
print(pd.Series(data=stocks))

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Exercise 3

In [5]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print([v for i, v in quotations.items()])

[387.0, 339.5, 349.5, 391.0]

Exercise 4

In [6]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = pd.DataFrame(quotations, columns=['price'])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0