<a href="https://colab.research.google.com/github/StoianBodurov/130-Exercises---Python---Data-Science---Pandas---2023/blob/main/130%2B_Exercises_Python_Data_Science_Pandas_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starter

 Exercise 0

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.5

# Exercises 1-10

> Блок с отстъп

Exercise 1

In [ ]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

Exercise 2

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
print(pd.Series(data=stocks))

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Exercise 3

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print([v for i, v in quotations.items()])

[387.0, 339.5, 349.5, 391.0]

Exercise 4

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = pd.DataFrame(quotations, columns=['price'])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [ ]:
import numpy as np
import pandas as pd

np.array(1)

array(1)

Exercise 5

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series(data=np.arange(10, 100, 10), index=np.arange(101, 110), dtype='float')
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

Exercise 6

In [ ]:
import pandas as pd


series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = pd.to_numeric(series)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

Exercise 7

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

<ipython-input-12-c3e94e56b922>:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))

Exercise 8

In [ ]:
import pandas as pd


stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)

df = pd.DataFrame(quotations).reset_index()
df.columns = ['ticker', 'price']
print(df)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

Exercise 9

In [ ]:
import pandas as pd


data = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
companies  = pd.DataFrame(data)

print(companies )

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

Exercise 10

In [ ]:
import pandas as pd


data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)
companies = companies.set_index('company')

print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US