<a href="https://colab.research.google.com/github/StoianBodurov/130-Exercises---Python---Data-Science---Pandas---2023/blob/main/130%2B_Exercises_Python_Data_Science_Pandas_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starter

 Exercise 0

In [1]:
import pandas as pd

print(pd.__version__)

1.3.5

# Exercises 1-10

Exercise 1

In [2]:
import pandas as pd


stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object